[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ForagingOrg"]
	path = ForagingOrg
	url = https://github.com/cran/ForagingOrg
	shallow = true
	registered = true
